<!-- Navigation-->
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="index">데이터 좀 4조</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="selling">마이 건강</a></li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="accountChech">마이 계좌</a></li>
                
                <li class="nav-item mx-0 mx-lg-1">
                    <script>
                    if(sessionStorage.getItem("id") == null || sessionStorage.getItem("id") == '') {
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="login">
                            로그인
                        </a>
                    } else {
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="login">
                            로그아웃
                        </a>
                    }
                    </script>
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="register">회원가입</a></li>
            </ul>
        </div>
    </div>
</nav>