<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('head.ejs') %>
    </head>
    <body id="page-top">
        <%- include('navigation.ejs') %>
        <br>
        <!-- Privacy Section-->
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Privacy Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">개인정보 수집 및 이용 동의</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Privacy Section Content-->
                <div class="row">
                    <div class="col-lg-4 ml-auto text-center"><p class="lead">고객님의 개인 정보를 통화 조회하고 관리하는 서비스에 이용합니다.</p></div>
                    <div class="col-lg-4 mr-auto text-center"><p class="lead">이용자의 이름, 이메일, 은행 및 계좌번호 4개의 일반 개인정보, 3개의 접속 이력 정보</p></div>
                </div>
                <div class="text-center mt-4" style="width: 100%;">
                    <a class="btn btn-xl btn-outline-dark" href="register">
                        상세 내용
                    </a>
                </div>
                <br><br>
                <!-- Privacy Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">개인정보 제3자 제공 동의</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Privacy Section Content-->
                <div class="row">
                    <div class="col-lg-4 ml-auto text-center"><p class="lead">의료 및 건강 정보 기반 등급 평가 서비스에 이용합니다.</p></div>
                    <div class="col-lg-4 mr-auto text-center"><p class="lead">건강 검진 내역 및 결과 항목</p></div>
                </div>
                <div class="text-center mt-4" style="width: 100%;">
                    <a class="btn btn-xl btn-outline-dark" href="register">
                        상세 내용
                    </a>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-8 ml-auto text-center"><p class="lead">개인정보수집 및 활용과 개인정보 제 3자 제공에 동의하십니까?      </p></div>
                </div>
                <div class="col-lg-4 ml-auto custom-control custom-radio text-center">
                    <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios">
                    <label class="custom-control-label" for="defaultUnchecked">예</label>
                </div>
                <div class="col-lg-4 mr-auto custom-control custom-radio text-center">
                    <input type="radio" class="custom-control-input" id="defaultChecked" name="defaultExampleRadios" checked>
                    <label class="custom-control-label" for="defaultChecked">아니오</label>
                </div>
                <!-- Privacy Section Button-->
                <div class="text-center mt-4">
                    <a class="btn btn-xl btn-primary" style="width: 100%;" href="register">
                        다음으로
                    </a>

                </div>
            </div>
        </section>
        <%- include('footer.ejs') %>
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Contact form JS-->
        <script src="assets/mail/jqBootstrapValidation.js"></script>
        <script src="assets/mail/contact_me.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
