<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('head.ejs') %>
    </head>
    <body id="page-top">
        <%- include('navigation.ejs') %>
		<br><br><br>
        <!-- Register Section-->
        <section class="page-section" id="contact">
            <div class="container">
                <!-- Register Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">회원가입</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Register Section Form-->
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19.-->
                        <form id="contactForm" name="sentMessage" novalidate="novalidate">
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>이름</label>
                                    <input class="form-control" id="name" type="text" placeholder="Name" required="required" data-validation-required-message="Please enter your name." />
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>Email Address</label>
                                    <input class="form-control" id="email" type="email" placeholder="Email Address" required="required" data-validation-required-message="Please enter your email address." />
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>비밀번호</label>
                                    <input class="form-control" id="password" type="password" placeholder="Password" required="required" data-validation-required-message="Please enter your password." />
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>은행</label>
                                    <input class="form-control" id="bank" placeholder="Bank" required="required" data-validation-required-message="Please enter a bank."></input>
                                    <p class="help-block text-danger"></p>
                                </div>
							</div>
							<div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>계좌번호</label>
                                    <input class="form-control" id="account" placeholder="Account" required="required" data-validation-required-message="Please enter a account number."></input>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <br />
							<div id="success"></div>
							<br><br>
                            <div class="form-group">
                                <a href="index" onclick="return console.log()"  class="btn btn-primary btn-xl"  id="registerBtn" style="width : 100%;" >회원가입</a>
                           
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <%- include('footer.ejs') %>
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Contact form JS-->
        <script src="assets/mail/jqBootstrapValidation.js"></script>
        <!-- Core theme JS-->
		<script src="js/scripts.js"></script>
	<script>
		$("#registerBtn").click(function () {
		var username = $("#username").val();
		var email = $("#email").val();
		var password = $("#password").val();
		var bank = $("#bank").val();
		var account = $("#account").val();
	
		$.ajax({
				url:'/register',
				type : 'POST',
				data : {
					username: username,
					email: email,
					password: password,
					bank: bank,
					account: account
				},
				success:function(responseData){
				  if(responseData == "1"){
					alert("가입 완료");
					//로그인 화면으로 넘어가면 좋을 것 같아요. - 미래
				  }
				}
			})  
	  });
	</script>
</body>

</html>