<!DOCTYPE html>
<html>
<head>
	<title>회원가입</title>
	<link rel="stylesheet" type="text/css" href="register.css" />
	<script type="text/javascript" src="register.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" />
	<script type="text/javascript" src="https://fonts.googleapis.com/icon?family=Material+Icons"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
</head>
<body>
	<div id="login-page" class="row">
	  <div class="col s12 z-depth-4 card-panel">
	    <form class="login-form">
	      <div class="row">
	        <div class="input-field col s12 center">
	          <h4>회원가입</h4>
	        </div>
	      </div>

	      <div class="row margin">
	        <div class="input-field col s12">
	          <!-- <i class="mdi-social-person-outline prefix"></i> -->
	          <input id="username" name="username" type="text"/>
	          <label for="username">이름</label>
	        </div>
	      </div>

	      <div class="row margin">
	        <div class="input-field col s12">
	          <!-- <i class="mdi-social-person-outline prefix"></i> -->
	          <input id="email" name="email" type="text" style="cursor: auto;" />
	          <label for="email">이메일</label>
	        </div>
	      </div>

	      <div class="row margin">
	        <div class="input-field col s12">
	          <!-- <i class="mdi-action-lock-outline prefix"></i> -->
	          <input id="password" name="password" type="password" />
	          <label for="password">비밀번호</label>
	        </div>
	      </div>

	      <div class="row margin">
	        <div class="input-field col s12">
	          <!-- <i class="mdi-action-lock-outline prefix"></i> -->
	          <input id="bank" name="bank" type="text" />
	          <label for="bank">은행명</label>
	        </div>
	      </div>

	      <div class="row margin">
	        <div class="input-field col s12">
	          <!-- <i class="mdi-action-lock-outline prefix"></i> -->
	          <input id="account" name="account" type="text" />
	          <label for="account">계좌번호</label>
	        </div>
	      </div>

	      <div class="row">
	        <div class="input-field col s12">
	          <button type="submit" class="btn waves-effect waves-light col s12">회원가입</button>
	        </div>
	      </div>
	    </form>
	  </div>
	</div>
</body>
</html>