<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head.ejs') %>
  </head>
    <body id="page-top">
        <%- include('navigation.ejs') %>
        <br><br><br>
        <!-- Contact Section-->
        <section class="page-section" id="contact">
          <div class="container">
              <!-- Contact Section Heading-->
              <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">결과</h2>
              <!-- Icon Divider-->
              <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                  <div class="divider-custom-line"></div>
              </div>
              <!-- Contact Section Form-->
              <div class="row">
                  <div class="col-lg-8 mx-auto">
                      <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19.-->
                      <form id="contactForm" name="sentMessage" novalidate="novalidate">
                          <div class="control-group">
                              <div class="form-group floating-label-form-group controls mb-0 pb-2"  style="border:1px solid; padding:10px;border-width: medium;">
                                <div id="resultDiv"></div> 
                              </div>
                          </div>
                          <br><br>
                          <div id="sale"></div>
                          <div class="form-group">
                            <a href="check" onclick="return confirm('2000원이 적립되었습니다.')" class="btn btn-primary btn-xl" id="saleBtn" type="submit" style="width:100%;" >판매하기</a>
                            
                        </div>
                          
                          <div id="down"></div>
                          <div class="form-group">
                            <button class="btn btn-primary btn-xl" type="button" id="downBtn" style="width:100%;">내려받기</button>
                        </div>
                      </form>
                  </div>
              </div>
          </div>
      </section>
      <%- include('footer.ejs') %>
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Contact form JS-->
        <script src="assets/mail/jqBootstrapValidation.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>

        <script src="js/html2canvas.js"></script>
        <script src="js/jspdf.min.js"></script>
        <script>

            function myFunction() {
                var result=confirm("2000원이 입금되었습니다.");
                if(result){
                    location.href="receipt";
                }    
                //ajax 요청
            }
            $.ajax({
                url:'http://localhost:3000/inspection',
                type : 'GET',
                data : {
                },
                success:function(data){
                  console.log(data);
                  $("#resultDiv").html(
                    "<table border=3 bordercolor=black width=500 height=300 align=center>"+
                      "<tr align=center><td><strong>항목</td><td><strong>상세내역</strong></td></tr>"+
                      "<tr align=center><td>"+data.Location+"</td><td>"+data.Inspections[0].Gubun+"</td></tr>"+
                      "<tr align=center><td><strong>항목</td><td><strong>결과</td></tr>" +
                      "<tr align=center><td>"+data.Inspections[0].Illnesses[0].Items[0].Name+"</td><td>"+data.Inspections[0].Illnesses[0].Items[0].Name+"</td></tr>"+
                      "<tr align=center><td>"+data.Inspections[0].Illnesses[0].Items[1].Name+"</td><td>"+data.Inspections[0].Illnesses[0].Items[1].Value+"</td></tr>"+
                      "<tr align=center><td>"+data.Inspections[0].Illnesses[0].Items[2].Name+"</td><td>"+data.Inspections[0].Illnesses[0].Items[2].Value+"</td></tr>"+
                      "<tr align=center><td>"+data.Inspections[0].Illnesses[0].Items[3].Name+"</td><td>"+data.Inspections[0].Illnesses[0].Items[3].Value+"</td></tr>"+
                      "<tr align=center><td>"+data.Inspections[0].Illnesses[1].Items[0].Name+"</td><td>"+data.Inspections[0].Illnesses[1].Items[0].Value+"</td></tr>"+
                      "<tr align=center><td>"+data.Inspections[0].Illnesses[2].Items[0].Name+"</td><td>"+data.Inspections[0].Illnesses[2].Items[0].Value+"</td></tr>"+
                      "<tr align=center><td>"+data.Inspections[0].Illnesses[3].Items[0].Name+"</td><td>"+data.Inspections[0].Illnesses[3].Items[0].Value+"</td></tr>"+

  
                      "</table>"
                  )

                }
            })       

            </script>

                }
            })
          </script>
          
          <script>
            $(document).ready(function() {
              $('#downBtn').click(function() { //pdf저장 button id
                  html2canvas($('#resultDiv')[0]).then(function(canvas) { //저장 영역 div id
                  
                  //캔버스를 이미지로 변환
                  var imgData = canvas.toDataURL('image/png');
                     
                  var imgWidth = 190; //이미지 가로 길이(mm) / A4 기준 210mm
                  var pageHeight = imgWidth * 1.414;  //출력 페이지 세로 길이 계산 A4 기준
                  var imgHeight = canvas.height * imgWidth / canvas.width;
                  var heightLeft = imgHeight;
                  var margin = 10; //출력 페이지 여백설정
                  var doc = new jsPDF('p', 'mm');
                  var position = 0;
                     
                  //첫 페이지 출력
                  doc.addImage(imgData, 'PNG', margin, position, imgWidth, imgHeight);
                  heightLeft -= pageHeight;
                       
                  //한 페이지 이상일 경우 루프 돌면서 출력
                  while (heightLeft >= 20) {
                      position = heightLeft - imgHeight;
                      doc.addPage();
                      doc.addImage(imgData, 'PNG', 0, position, imgWidth, imgHeight);
                      heightLeft -= pageHeight;
                  }
                  //파일 저장
                  doc.save('mydata.pdf');
                });
              }); 
            })
          </script>
  </body>
</html>