<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('head.ejs') %>
    </head>
    <body id="page-top">
        <%- include('navigation.ejs') %>
        <br>
        <!-- Privacy Section-->
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Privacy Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">건강보험료 데이터</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Privacy Section Content-->
                <div class="row">
                    <div class="col-lg-4 ml-auto text-center">
                        <p class="lead">설명
                        <br>
                        건강보험공단에 납세한 건강보험 내역을 조회 및 판매할 수 있습니다. </p>

                    </div>
                    <div class="col-lg-4 mr-auto text-center"><p class="lead">항목
                        <br>
                        고지 금액, 납부 마감일, 수납 납부일, 수납 보험료, 수납 연체금, 수납 총 보험료, 미납 보험료, 미납 연체금, 미납 총 보험료
                    </p></div>
                    <div class="col-lg-4 mr-auto text-center"><p class="lead">가격<br>1건 당 2,000원</p></div>
                </div>
                <div class="text-center mt-4" style="width: 100%;">
                    <a class="btn btn-xl btn-outline-dark">
                        상세 내용
                    </a>
                </div>
                <br>
                <div class="custom-control custom-checkbox text-center mt-4">
                    <input type="checkbox" id="checkbox1" class="custom-control-input">
                    <label class="custom-control-label" for="checkbox1" name="insurance-data">건강보험료 데이터 판매하기</label>
                </div>
                <br><br>
                <!-- Privacy Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">약국 이용 이력 데이터</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Privacy Section Content-->
                <div class="row">
                    <div class="col-lg-4 ml-auto text-center"><p class="lead">설명<br>약국에서 약을 구매한 내역 데이터를 조회 및 판매할 수 있습니다.
                    </p></div>
                    
                    <div class="col-lg-4 mr-auto text-center"><p class="lead">항목<br>약국이름, 종류, 해당 약, 처방 일수, 성분의 수량
                    </p></div>
                    <div class="col-lg-4 mr-auto text-center"><p class="lead">가격<br>1건 당 2,000원</p></div>
                </div>
                <div class="text-center mt-4" style="width: 100%;">
                    <a class="btn btn-xl btn-outline-dark">
                        상세 내용
                    </a>
                </div>
                <br>
                <div class="custom-control custom-checkbox text-center mt-4">
                    <input type="checkbox" id="checkbox2" class="custom-control-input">
                    <label class="custom-control-label" for="checkbox2" name="drug-data">약국 이용 이력 데이터 판매하기</label>
                </div>
                <br><br>
                <!-- Privacy Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">건강 검진 내역 데이터</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Privacy Section Content-->
                <div class="row">
                    <div class="col-lg-4 ml-auto text-center"><p class="lead">설명<br>최근 10년간 건강보험공단에서 실시한 건강검진의 조회 및 판매할 수 있습니다.</p></div>
                    <div class="col-lg-4 mr-auto text-center"><p class="lead">항목<br>건강검진 년도, 검진 일자, 검진 장소, 진단 장소, 진단에 대한 설명, 검진 결과, 질환 병, 항목별 검사 결과, 검사 항목명, 검진 결과 값</p></div>
                    <div class="col-lg-4 mr-auto text-center"><p class="lead">가격</p>
                    <ul type="disc">
                        <li>기본정보 패키지: 기본(2,000원)</li>
                        <li>골드 패키지: 기본 +  질병(3,000원)</li>
                        <li>프리미엄 패키지: 기본 + 질병 + 자가문진(생활습관, 가족력, 최근 병력 등)(4,000원)</li>
                    </ul>
                </div>
                </div>
                <div class="text-center mt-4" style="width: 100%;">
                    <a class="btn btn-xl btn-outline-dark">
                        상세 내용
                    </a>
                </div>
                <br><br>
                <div style="text-align:center;">
                    <input type="radio" name="package" value="basic">기본정보 패키지&nbsp; &nbsp; &nbsp; &nbsp; 
                    <input type="radio" name="package" value="gold">골드 패키지&nbsp; &nbsp; &nbsp; &nbsp; 
                    <input type="radio" name="package" value="premium">프리미엄 패키지&nbsp; &nbsp; &nbsp; 
                    </div>
                    <br>
                <div class="custom-control custom-checkbox text-center mt-4">
                    <input type="checkbox" id="checkbox3" class="custom-control-input">
                    <label class="custom-control-label" for="checkbox3" name='health-data'>건강 검진 내역 데이터 판매하기</label>
                </div>
                <br>
                <!-- Privacy Section Button-->
                <div class="text-center mt-4">
                    <button class="btn btn-xl btn-primary" id="next" style="width: 100%;" >
                        다음으로
                    </button>
                </div>

        </section>
        <%- include('footer.ejs') %>

        <div class="portfolio-modal modal fade" id="detail" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal1Label">약</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Text-->
                                    <div style="text-align: center;"> 
                                        <img src="/img/grade.PNG" alt="">
                                    </div>
                                    <br>
                                    <a href="selling" onclick="return console.log()" class="btn btn-primary"  id="dataBtn" type="submit" >닫기</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>















        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Contact form JS-->
        <script src="assets/mail/jqBootstrapValidation.js"></script>
        <script src="assets/mail/contact_me.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <script>
            $("#next").click(function(){
                var radioVal = $('input[name="package"]:checked').val();
                if(radioVal == 'basic'){
                    $(location).attr('href', 'http://localhost:3000/result');
                }
                else if(radioVal=='gold'){
                    $(location).attr('href', 'http://localhost:3000/result2');
                }
                else{
                    $(location).attr('href', 'http://localhost:3000/result3');
                }
                console.log(radioVal)      
            })
        </script>
          
    </body>
</html>