<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('head.ejs') %>
    </head>
    <body id="page-top">
        <%- include('navigation.ejs') %>
        <br>
        <!-- Privacy Section-->
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Privacy Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">건강보험료 데이터</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Privacy Section Content-->
                <div class="row">
                    <div class="col-lg-4 ml-auto text-center"><p class="lead">설명</p></div>
                    <div class="col-lg-4 mr-auto text-center"><p class="lead">항목</p></div>
                </div>
                <div class="text-center mt-4" style="width: 100%;">
                    <a class="btn btn-xl btn-outline-dark">
                        상세 내용
                    </a>
                </div>
                <br>
                <div class="custom-control custom-checkbox text-center mt-4">
                    <input type="checkbox" id="checkbox1" class="custom-control-input">
                    <label class="custom-control-label" for="checkbox1" name="insurance-data">건강보험료 데이터 판매하기</label>
                </div>
                <br><br>
                <!-- Privacy Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">약국 이용 이력 데이터</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Privacy Section Content-->
                <div class="row">
                    <div class="col-lg-4 ml-auto text-center"><p class="lead">설명</p></div>
                    <div class="col-lg-4 mr-auto text-center"><p class="lead">항목</p></div>
                </div>
                <div class="text-center mt-4" style="width: 100%;">
                    <a class="btn btn-xl btn-outline-dark">
                        상세 내용
                    </a>
                </div>
                <br>
                <div class="custom-control custom-checkbox text-center mt-4">
                    <input type="checkbox" id="checkbox2" class="custom-control-input">
                    <label class="custom-control-label" for="checkbox2" name="drug-data">약국 이용 이력 데이터 판매하기</label>
                </div>
                <br><br>
                <!-- Privacy Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">건강 검진 내역 데이터</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Privacy Section Content-->
                <div class="row">
                    <div class="col-lg-4 ml-auto text-center"><p class="lead">설명</p></div>
                    <div class="col-lg-4 mr-auto text-center"><p class="lead">항목</p></div>
                    <div class="col-lg-4 mr-auto text-center"><p class="lead">가격</p></div>
                    <div class="col-lg-4 mr-auto text-center"><p class="lead">제공 기관 및 기업</p></div>
                </div>
                <div class="text-center mt-4" style="width: 100%;">
                    <a class="btn btn-xl btn-outline-dark">
                        상세 내용
                    </a>
                </div>
                <br>
                <div class="custom-control custom-checkbox text-center mt-4">
                    <input type="checkbox" id="checkbox3" class="custom-control-input">
                    <label class="custom-control-label" for="checkbox3" name='health-data'>건강 검진 내역 데이터 판매하기</label>
                </div>
                <br>
                <!-- Privacy Section Button-->
                <div class="text-center mt-4">
                    <a class="btn btn-xl btn-primary" style="width: 100%;" href="result">
                        다음으로
                    </a>
                </div>
            </div>
        </section>
        <%- include('footer.ejs') %>
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Contact form JS-->
        <script src="assets/mail/jqBootstrapValidation.js"></script>
        <script src="assets/mail/contact_me.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
